html {
	margin: 0;
    padding: 0;
    border: 0;
	font-size: 20px;
	font: serif;
    vertical-align: baseline;
	}
body { 
	font: 80% georgia, sans-serif;
	line-height: 1;
    color: black; 
    background-color: lightblue;
	}
p { 
	margin-top: 0; 
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.6;
	}
h1 { 
    font: sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: black;
    margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
    float: left;
    background: rgba(0, 41, 128, 0.3);
    }
#highlight {
    background-color: transparent;
    text-align: center;
    width: 100%;
    }
h3.fontCustom {
    font: Impact, sans-serif;
    color: red;
    }
img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
    }
    